/* Documento realizado
por 
Angel Rojas
para 
la clase de 
Front END
dada por Diego Maldonado
y organizada por
Digital House  */
h3{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #1CD1B0;
    margin: 0%; 
    display: flex;
    align-items: center;
    padding: 1%;
    width: 100%;
}
/* Header */
header{
    width: 100vw;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background-color: #00669F;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
    margin: 0%;
    padding: 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    width: 100%; 
    z-index: 100;
}
/* body */
body{
    margin: 0%;
}
section{
    box-sizing: border-box;
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

article{
    width: 33%;
    height: 75%;
    background-color: #F3F3F3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

div.mural{
    display: grid;
    box-sizing: border-box;
    position: relative;
    margin: 0% 0% 2% 0%;
    width: 100%;
}
div.texto{
    position: relative;
    bottom: 15%;
}
div.texto > h2{
    margin: 0%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
div.texto > p{
    margin: 2% 5% 10% 5%;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: -5%;
}
#button{
    box-sizing: content-box;
    position: relative;
    background-color: #00669F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

/* Pictures de escenarios y personajes */

#HT{
    position: absolute;
    z-index: 10;
    margin-left: 5%;
    margin-top: 3%;
}

#B{
    position: relative;
    width: 100%;
    height: 100%;
}
#H{
    position: relative;
    width: 100%;
    height: 100%;
}
.Pr-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Pr{
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    z-index: 20;
    bottom: 50%;
}
/* Article spacing */
.Batman_1{
    margin-right: 5%;
}
.Harley{
    margin-right: 5%;
}
/* footer */
footer{
    display: flex;
    background-color: #00669F;
    
}

footer > p{
    font-family: Roboto;
    font-size: 16px;
    color: #FFF9F9;
    box-sizing: content-box;
    margin: 1% 1%;
}
